body, html {
	background-color: rgb(202, 202, 202);
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 800px;
}
ul {
	list-style: none;
	padding: 0;
    margin: 0;
}
#navi {
	position: absolute;
	top: 0;
    left: 80%;
	width: 50%;
    margin-left: -25%;
	display: inline-block;
	float: none;
	vertical-align: top;
}

#navi li {
    display: inline-block;
    text-align: center;
    width: 10%;
    padding: 12px;
    margin: 0;
    background-color: rgb(27, 27, 27);
	outline: 0;
}

#navi a {
    color: azure;
	outline: 0;
}

#intro {
    color: black;
    margin-top: 300px;
    align-items: center;
    text-align: center;
}



#about {
    width: 100%;
    height: 600px;
	background-color: rgb(192, 147, 147);
}



#skill {
    width: 100%;
    height: 600px;
	background-color: rgb(204, 98, 98);
}
#skill li{
    padding: 5px;
}

.program {
    float: left;
    margin-left: 200px;
    margin-top: 150px;
}

.others {
    float: right;
    margin-right: 200px;
    margin-top: 150px;
}


#portfolio {
    width: 100%;
    height: 600px;
	background-color: rgb(192, 49, 49);
}
